<h1>New Entry</h1>

<%= form_with model: Entry.new, local: true do |form| %>
  <%= form.hidden_field :place_id, value: params[:place_id] %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :occurred_on, "Occurred On" %>
    <%= form.date_field :occurred_on %>
  </div>

  <div class="field">
    <%= form.label :image, "Image (optional)" %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit "Save" %>
<% end %>