<h1><%= @place.name %></h1>

<% if session[:user_id].present? %>
  <h2>My Entries</h2>
  <% if @entries.any? %>
    <% @entries.each do |entry| %>
      <div>
        <h3><%= entry.title %></h3>
        <p><%= entry.description %></p>
        <p>Occurred on: <%= entry.occurred_on %></p>
        <% if entry.image.attached? %>
          <%= image_tag(entry.image, class: "entry-image", style: "max-width: 200px; max-height: 200px;") %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>You have no entries for this place.</p>
  <% end %>
  
  <!-- Link to add a new entry for this place -->
  <%= link_to 'Add New Entry', new_entry_path(place_id: @place.id), class: "btn btn-primary" %>
  
<% else %>
  <p>You need to <%= link_to 'login', login_path %> to view your entries.</p>
<% end %>

<p>
  <%= link_to 'Back to All Places', places_path %>
</p>