<div class="container mt-4">
  <h1><%= @place.name %></h1>

  <%= link_to 'Add New Entry', new_entry_path(place_id: @place.id), class: "btn btn-primary mt-3" %>

  <% if session[:user_id].present? %>
    <h2 class="mt-4">My Entries</h2>
    <% if @entries.any? %>
      <div class="row">
        <% @entries.each do |entry| %>
          <div class="col-md-4 mb-4"> <!-- Using col-md-4 to get 3 entries per row on medium to larger screens -->
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title"><%= entry.title %></h3>
                <p class="card-text"><small class="text-muted"><%= entry.occurred_on %></small></p>
                <% if entry.image.attached? %>
                  <%= image_tag(entry.image, class: "img-fluid mt-2", style: "max-width: 100%; height: auto;") %>
                <% end %>
                <p class="card-text"><%= entry.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-3">You have no entries for this place.</p>
    <% end %>


  <% else %>
    <p class="mt-3">You need to <%= link_to 'login', login_path %> to view your entries.</p>
  <% end %>

  <p class="mt-4">
    <%= link_to 'Back to All Places', places_path, class: "btn btn-secondary" %>
  </p>
</div>